#images{
   
    font-weight: bold;
    text-align: center;
    
}
#images img{
    width: 70%;
   display: inline-block;
}
.button{
    cursor: pointer;
    position: absolute;
    top: 50%;
    border-style: solid;
    border-color: green;
    border-radius: 10px;
    
    width: auto;
    margin-top: -82px;
    /padding: 16px;
    display: inline-block;
}
#image_next_button{
    right: 8px;
}
#image_prev_button{
    float: left;
    left: 8px;
}
