*{
    margin:0;
    padding:0;
    border-color: red;
    font-family: courier;
    
}

#navbar{
    background-color: lightgreen;
    font-size:0px
}
#navbar ul{
    list-style-type: none;  
    
    
}
#navbar ul li{
    display: inline-block;
    
    font-size: 18px;

}
#navbar a{
    text-decoration: none;
    display: inline-block;
    padding: 10px;
    color: darkslategrey;
    font-weight:600;
    
   
}
#navbar a:hover{
    background: green;
    color: white;
}
#logo{
    font-weight: bold;
    padding-left: 10px;
    padding-right: 5px;
    font-family: courier;
    font-size: 25px;
}
